.right.preview(ng-class="{'mobile-hidden': step == 0 || step == 9 || step == 10}" ng-init="deviceDimensions = { desktop: [320, 240], tablet: [320, 240], phone: [165, 285] }; deviceOptions = ['desktop', 'tablet', 'phone']")
  dropdown(
    default-text="DESKTOP PREVIEW"
    options="previewOptions"
    selected-value="selectedDevice"
    set-value="setPreviewOption(value)"
    my-class="small"
  )

  h1 Preview

  include ./devices/device-icons.jade

  //-
  //- SEARCH SCREEN PREVIEWS:
  //-
  //-
  .device-wrapper
    .row(class="device-preview-1" ng-class="{'show-device-preview': isFirstVisible(), 'hide-device-preview': !isFirstVisible(), phonePrev: selectedDevice == 'phone'}")

      img(class="logo-image" ng-class="{'vis-hidden': (selectedLogoOption != 'State Seal' && selectedLogoOption != 'Default') && selectedLogoOption != 'Custom'}" ng-src='{{ stateSealUrl(selectedState) | unsafeResource }}')

      //- These jade vars are used to interpolate unique values into these templates and to fix a theme bug on IE
      - var themeId = "theme1";
      include ./devices/desktop-search.jade

      - var themeId = "theme2";
      include ./devices/tablet-search.jade

      include ./devices/phone-search.jade

      h2.preview-label(ng-class="{phoneSelected: selectedDevice == 'phone'}") Title Page

    //-
    //- MAP SCREEN PREVIEWS:
    //-
    //-
    .row(class="device-preview-2" ng-class="{'show-device-preview': !isFirstVisible(), 'hide-device-preview': isFirstVisible(), phonePrev: selectedDevice == 'phone'}")

      img(class="logo-image" ng-class="{'vis-hidden': (selectedLogoOption != 'State Seal' && selectedLogoOption != 'Default') && selectedLogoOption != 'Custom'}" ng-src='{{ stateSealUrl(selectedState) | unsafeResource }}')
      div.alert-rectangle(ng-show="alertTextEnabled")
        span {{ alertText }}

      include ./devices/desktop-map.jade

      include ./devices/tablet-map.jade

      include ./devices/phone-map.jade

      h2.preview-label(ng-class="{phoneSelected: selectedDevice == 'phone'}") Interior Page
