.container.select-logo(ng-show='isVisible(2, step)')
  .left.form
    .row
      h2.subtitle.step
        | Step {{ step }} of 8
      h2.subtitle
        | Logo

      ul.options(
        ng-init="logoOptions = ['State Seal', 'Logo', 'None']; selectedLogoOption = logoOptions[0]")
        li.option(
          ng-repeat='logoOption in logoOptions',
          ng-class='{selected: $parent.selectedLogoOption == logoOption}',
          ng-click='$parent.selectedLogoOption = logoOption')
          | {{ logoOption }}

      .logo-url(ng-show="selectedLogoOption == 'Logo'")
        h2.subtitle
           Enter URL

        input(
          class='url-input' type='text', name='url', ng-model='logoUrl')

      dropdown(
        ng-show="selectedLogoOption == 'State Seal'"
        default-text="Default"
        options="states"
        set-value="setState(value)"
      )