.container(ng-show='isVisible(4, step)')
  .left.form
    .row
      h2.subtitle.step
        | Step {{ step }} of 8

      .section-interior-tile-bar-color
        h2.subtitle
          | Interior tile bar color
        ul
          li(
            ng-repeat="tileBarColor in interiorTileBarColors track by $index"
            class="interior-tile-bar-color"
            ng-class="{selected: $parent.selectedTileBarColor == tileBarColor}"
            ng-click="$parent.selectedTileBarColor = tileBarColor; log($index); $parent.selectedSecondaryTileBarColor = interiorSecondaryTileBarColors[$index]"
            style="background-color: {{tileBarColor}}")