.container(ng-show='isVisible(1, step)')
  .left.form
    .row
      h2.subtitle.step
        | Step {{ step }} of 8

      h2.subtitle
        | Select your theme

      .dropdown
        .dropdowns(ng-click='showThemes = !showThemes')
          span {{ selectedTheme  || "Theme One" }}

          .dropdown-button
            span.dropdown-arrow

        ul.no-scrollbar(
          ng-class='{open: showThemes}',
          ng-init="themeOptions = ['Theme One', 'Theme Two', 'Theme Three']")
          li(
            ng-repeat='themeOption in themeOptions',
            ng-mouseover='$parent.selectedTheme = themeOption',
            ng-click='$parent.showThemes = !showThemes')
            | {{ themeOption }}

  .navigation
    button.prev(ng-click='step = step - 1') Prev

    button.next(ng-click='step = step + 1') Next