doctype html
html.no-js(ng-app='Application', lang='')
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='apple-touch-icon', href='apple-touch-icon.png')
  //- link(rel='stylesheet', href='css/normalize.css')
  //- link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/style.css')
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')

  script(type='text/javascript', src='js/vendor/angular.js')

  body(ng-controller='ApplicationController as applicationController' resize)
    .container(ng-show='isVisible(0, step)',
      ng-init="step = 0; logoUrls={'default': 'img/vip-logo.png', 'New York': 'img/new-york.svg'}, selectedState = 'default'")
      .left.form
        .row
          img.vip-logo(
            src='img/vip-logo.png')

          h1.vip-name
            | Voting Information Project
        .row
          h1.title
            | Welcome
            | Place copy here

        .row.text-box
          span
            | Lorem ipsum Incididunt ullamco labore aliqua culpa pariatur sed. Lorem ipsum Voluptate ea velit nostrud Duis aliquip consectetur magna consequat. Lorem ipsum Qui ut aute minim aute dolor aliqua qui laborum ad esse. Lorem ipsum Sed in Excepteur Ut magna enim. Lorem ipsum In minim ex fugiat laborum commodo. Lorem ipsum Est quis consectetur nostrud amet incididunt incididunt laborum. Lorem ipsum Laboris dolore ad amet in cupidatat ut cillum ea anim in. Lorem ipsum Deserunt voluptate consectetur voluptate Excepteur magna pariatur.

      .preview
        | Placeholder

      .navigation
        button.get-started.next(ng-click='step = step + 1')
          | Get Started

    .container(ng-show='isVisible(1, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8

          h2.subtitle
            | Select your theme

          .dropdown
            .dropdowns(ng-click='showThemes = !showThemes')
              span {{ selectedTheme  || "Theme One" }}

              .dropdown-button
                span.dropdown-arrow

            ul(
              ng-class='{open: showThemes}',
              ng-init="themeOptions = ['Theme One', 'Theme Two', 'Theme Three']")
              li(
                ng-repeat='themeOption in themeOptions',
                ng-mouseover='$parent.selectedTheme = themeOption',
                ng-click='$parent.showThemes = !showThemes')
                | {{ themeOption }}

      .preview
        .dropdown.small
          .dropdowns(
            ng-click='showDeviceDropdown = !showDeviceDropdown')
            span {{ selectedDevice || "Desktop" }}

            .dropdown-button
              span.dropdown-arrow

          ul(
            ng-class='{open: showDeviceDropdown}',
            ng-init="deviceOptions = ['desktop', 'tablet', 'phone']")
            li(
              ng-repeat='option in deviceOptions',
              ng-mouseover='$parent.selectedDevice = option',
              ng-click='$parent.showDeviceDropdown = !showDeviceDropdown')
              {{ option }}

      .navigation
        button.prev(ng-click='step = step - 1') Prev

        button.next(ng-click='step = step + 1') Next

    .container(ng-show='isVisible(2, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8
          h2.subtitle
            | Logo

          ul.options(
            ng-init="logoOptions = ['State Seal', 'Logo', 'None']; selectedLogoOption = logoOptions[0]")
            li.option(
              ng-repeat='logoOption in logoOptions',
              ng-class='{selected: $parent.selectedLogoOption == logoOption}',
              ng-click='$parent.selectedLogoOption = logoOption')
              {{ logoOption }}

          .logo-url(ng-show="selectedLogoOption == 'Logo'")
            h2.subtitle
               Enter URL

            input(
              class='url-input' type='text', name='url', ng-model='logoUrl')

          .dropdown(
            ng-show="selectedLogoOption == 'State Seal'")
            .dropdowns(
              ng-click='showStates = !showStates')
              span {{ selectedState || "Select your state" }}

              .dropdown-button
                span.dropdown-arrow

            ul(
              ng-class='{open: showStates}',
              ng-init="states = [ 'Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia', 'Federated States Of Micronesia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Marshall Islands', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming' ]")
              li(
                ng-repeat='state in states',
                ng-mouseover='$parent.selectedState = state',
                ng-click='$parent.showStates = !showStates')
                | {{ state }}

      .preview
        img(
          ng-src='{{logoUrl}}')

        h1  {{ logoUrl }}

      .navigation
        button.prev(
          ng-click='step = step - 1') Prev

        button.next(
          ng-click='step = step + 1') Next

    .container(ng-show='isVisible(3, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8

          .section-title
            h2.subtitle
              | Title
            input(type="text" class="input-text" ng-model="title")

          .section-subtitle
            h2.subtitle
              | Subtitle (optional)
            input(type="text" class="input-text" ng-model="subtitle")

      .preview

        h1  {{ title }}

        h1  {{ subtitle }}

      .navigation
        button.prev(
          ng-click='step = step - 1') Prev

        button.next(
          ng-click='step = step + 1') Next

    .container(ng-show='isVisible(4, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8

          .section-interior-tile-bar-color
            h2.subtitle
              | Interior tile bar color
            ul(ng-init="interiorTileBarColors = ['#000', '#a4a4a4', '#229acd', '#ad1b1b', '#25a095', '#9ccc66', '#ffa004', '#5e34b1', '#a1887f', '#f06292']; interiorSecondaryTileBarColors = ['#555', '#909090', '#228a9d', '#8d1919', '#258065', '#7caa66', '#dd8004', '#5e3481', '#81665f', '#c04273']")
              //- li(
              //-   class="interior-tile-bar-color"
              //-   ng-class="{selected: $parent.selectedTileBarColor == tileBarColor}"
              //-   ng-repeat="tileBarColor in interiorTileBarColors"
              //-   ng-click="$parent.selectedTileBarColor = tileBarColor"
              //-   style="background: {{tileBarColor}}")
              li(
                class="interior-tile-bar-color"
                ng-class="{selected: $parent.selectedTileBarColor == tileBarColor}"
                ng-repeat="tileBarColor in interiorTileBarColors track by $index"
                ng-click="$parent.selectedTileBarColor = tileBarColor; log($index); $parent.selectedSecondaryTileBarColor = interiorSecondaryTileBarColors[$index]"
                style="background: {{tileBarColor}}")

      .preview

        h1  {{ selectedTileBarColor }}

      .navigation
        button.prev(
          ng-click='step = step - 1') Prev

        button.next(
          ng-click='step = step + 1') Next

    .container(ng-show='isVisible(5, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8
          h2.subtitle
            | Format

          .dropdown
            .dropdowns(ng-click='showFormats = !showFormats')
              span {{ selectedFormat  || "Select a format" }}

              .dropdown-button
                span.dropdown-arrow

            ul(
              ng-class='{open: showFormats}',
              ng-init="formatOptions = ['640x480', '320x240', 'Responsive']")
              li(
                ng-repeat='formatOption in formatOptions',
                ng-mouseover='$parent.selectedFormat = formatOption',
                ng-click='$parent.showFormats = !showFormats')
                | {{ formatOption }}

          //- .format-info(
          //-   ng-repeat="formatOption in formatOptions"
          //-   ng-show="formatOption == selectedFormat")
          //-   | {{ formatOption }}

      .preview

      .navigation
        button.prev(ng-click='step = step - 1') Prev

        button.next(ng-click='step = step + 1') Next

    .container(ng-show='isVisible(6, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8
          h2.subtitle
            | Alert text

          ul.options(ng-init="alertTextEnabled = false")
            li.option(
              ng-class="{selected: alertTextEnabled}"
              ng-click="alertTextEnabled = true")
              | Yes
            li.option(
              ng-class="{selected: !alertTextEnabled}"
              ng-click="alertTextEnabled = false")
              | No

          .section-alert-text(
            ng-show="alertTextEnabled")
            h2.subtitle
              | Alert Message
            input(type="text" class="input-text alert-text" ng-model="alertText")

      .preview
        h2.subtitle(ng-show="alertTextEnabled")
          | {{alertText}}

      .navigation
        button.prev(ng-click='step = step - 1') Prev

        button.next(ng-click='step = step + 1') Next

    .container(ng-show='isVisible(7, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8
          h2.subtitle
            | Language Option

          .dropdown
            .dropdowns(ng-click='showLanguages = !showLanguages')
              span {{ selectedLanguage  || "Select a language" }}

              .dropdown-button
                span.dropdown-arrow

            ul(
              ng-class='{open: showLanguages}',
              ng-init="languageOptions = ['English', 'Spanish', 'Korean', 'Japanese', 'Thai', 'Hindi', 'Tagalog', 'Chinese', 'Vietnamese', 'Khmer']")
              li(
                ng-repeat='languageOption in languageOptions',
                ng-mouseover='$parent.selectedLanguage = languageOption',
                ng-click='$parent.showLanguages = !showLanguages')
                | {{ languageOption }}

      .preview

      .navigation
        button.prev(ng-click='step = step - 1') Prev

        button.next(ng-click='step = step + 1') Finished

    .container(ng-show='isVisible(8, step)')
      .left.form
        .row
          h2.subtitle.step
            | Step {{ step }} of 8
          h2.subtitle
            | Here's your embed code

          .row.text-box.copy-code
            | &ltscript type="text/javascript" src="//s3.amazonaws.com/vip-voter-information-tool/app.js"&gt&lt/script&gt
            | &ltdiv id="_vit"&gt&lt/div&gt
            | &ltscript type="text/javascript"&gtvit.load({
            br
            span     modal: true,
            br
            span(ng-if="officialOnly")     officialOnly: true,
            br(ng-if="officialOnly")
            span(ng-if="title")     title: {{ title }}
            br(ng-if="title")
            span(ng-if="subtitle")     subtitle: {{ subtitle }}
            br(ng-if="subtitle")
            span(ng-if="selectedFormat == '640x480'")
              |     width: '640px',
              |     height: '480px',
            span(ng-if="selectedFormat == '320x240'")
              |     width: '320px',
              |     height: '240px',
            br(ng-if="selectedFormat.length > 0")
            span(ng-if="logoUrl")     logo: '{{ logoUrl }}',
            br(ng-if="logoUrl")
            span(ng-if="selectedState") logo: 'img/new-york.svg',
            br(ng-if="selectedState")
            span(ng-if="selectedTileBarColor")     colors: {
              |       'header': '{{ selectedTileBarColor }}',
              |       'landscapeBackgroundHeader': '{{ selectedSecondaryTileBarColor }}'
              |     },
            br(ng-if="selectedTileBarColor")
            span(ng-if="alertTextEnabled")     alertText: '{{ alertText }}'
            br(ng-if="alertTextEnabled")
            span(ng-if="selectedLanguage")     language: '{{ languages[selectedLanguage] }}'
            br(ng-if="selectedLanguage")
            | });&lt/script&gt

      .options
        .option.highlighted(ng-click="step = 0") Start over
        .option.highlighted Copy code
        .option.highlighted E-Mail code
        .option.highlighted Need help?

      .navigation
        button.prev(ng-click='step = step - 1') Prev

    .right.preview(ng-init="deviceDimensions = { desktop: [320, 240], tablet: [320, 240], phone: [165, 285] }")
      .dropdown.small
        .dropdowns(
          ng-click='showDeviceDropdown = !showDeviceDropdown')
          span {{ selectedDevice || "Desktop" }}

          .dropdown-button
            span.dropdown-arrow

        ul(
          ng-class='{open: showDeviceDropdown}')
          li(
            ng-repeat='option in deviceOptions',
            ng-mouseover='$parent.selectedDevice = option',
            ng-click='$parent.showDeviceDropdown = !showDeviceDropdown')
            {{ option }}

      //-
      //- DEVICE ICONS
      //-
      //-
      ul.devices(ng-init="dimension=60; $parent.selectedTileBarColor='#229acd'; $parent.selectedSecondaryTileBarColor = interiorSecondaryTileBarColors[2]")
        li
          svg(
            ng-click="selectedDevice = 'desktop'",
            class="device-icon", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
            x='0px', y='0px', ng-width="{{dimension}}", ng-height="{{dimension}}", viewbox='-812.3 2116.8 98.6 88.4', style='enable-background:new -812.3 2116.8 98.6 88.4;', xml:space='preserve')
            path(
              fill="{{selectedDevice == 'desktop' ? '#000' : 'darkgrey'}}",
              d='M-717.1,2116.8h-91.8c-1.9,0-3.4,1.5-3.4,3.4v59.7c0,1.9,1.5,3.4,3.4,3.4h38.1l-5.7,20.8h-3.9v1.1h37v-1.1h-3.6l-5.7-20.8\
              h35.5c1.9,0,3.4-1.5,3.4-3.4v-59.7C-713.7,2118.3-715.2,2116.8-717.1,2116.8z M-806.6,2177.7v-55.2h87.2v55.2H-806.6z')
        li
          svg(
            ng-click="selectedDevice = 'tablet'",
            class="device-icon", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
            x='0px', y='0px', ng-width="{{dimension}}", ng-height="{{dimension}}", viewbox='-114 113 382 568', style='enable-background:new -114 113 382 568;', xml:space='preserve')
            path(
              fill="{{selectedDevice == 'tablet' ? '#000' : 'darkgrey'}}",
              d='M239.9,113.4H-85.9c-15.5,0-28,12.5-28,28v511.2c0,15.5,12.5,28,28,28h325.8c15.5,0,28-12.5,28-28V141.4\
              C267.9,125.9,255.4,113.4,239.9,113.4z M77,140.1c2,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5s-3.5-1.6-3.5-3.5S75,140.1,77,140.1z\
              M77,667.4c-7.8,0-14.2-6.3-14.2-14.2s6.3-14.2,14.2-14.2s14.2,6.3,14.2,14.2S84.8,667.4,77,667.4z M248.9,624.2c0,0.6-0.4,1-1,1\
              H-93.9c-0.6,0-1-0.4-1-1V169.2c0-0.6,0.4-1,1-1h341.8c0.6,0,1,0.4,1,1V624.2z' transform="rotate(90, 80, 400)")

        li
          svg(
            ng-click="selectedDevice = 'phone'",
            class="device-icon", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
            x='0px', y='0px', ng-width='{{dimension}}', ng-height='{{dimension}}', viewbox='-785.6 2116.6 45.1 88.7', style='enable-background:new -785.6 2116.6 45.1 88.7;', xml:space='preserve')
              path(
                fill="{{selectedDevice == 'phone' ? '#000' : 'darkgrey'}}",
                d='M-750.5,2116.6h-24.9c-5.6,0-10.1,4.5-10.1,10.1v68.5c0,5.6,4.5,10.1,10.1,10.1h24.9c5.6,0,10.1-4.5,10.1-10.1v-68.5\
                C-740.4,2121.2-745,2116.6-750.5,2116.6z M-749.5,2120.5c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2\
                C-750.7,2121-750.2,2120.5-749.5,2120.5z M-753.6,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7s-0.7-0.3-0.7-0.7\
                S-754,2121-753.6,2121z M-755.7,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7S-756.1,2121-755.7,2121z\
                M-767.2,2119.9h8.6c0.2,0,0.4,0.2,0.4,0.4s-0.2,0.4-0.4,0.4h-8.6c-0.2,0-0.4-0.2-0.4-0.4S-767.4,2119.9-767.2,2119.9z\
                M-759.1,2202.1h-7.3c-0.7,0-1.3-0.6-1.3-1.3c0-0.1,0-0.2,0-0.2c0-0.1,0-0.1,0-0.2c0-0.5,0.4-0.9,0.9-0.9h0.4h7.3h0.4\
                c0.5,0,0.9,0.4,0.9,0.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2C-757.8,2201.5-758.4,2202.1-759.1,2202.1z M-743.2,2194.3h-39.5V2125\
                h39.5V2194.3z')
      //-
      //- IMAGE TEST
      //-
      //-
      //- svg(width="100", height="100")
      //-   image(ng-attr-xlink:href='{{trustedLogoUrl}}', xlink:href="", x="0", y="0", width="100", height="100")
      //- svg(width="100", height="100")
      //-   image(xlink:href='http://placekitten.com/g/500/500', x="0", y="0", width="100", height="100")

      //-
      //- DEVICE PREVIEW - 1
      //-
      //-
      .row(ng-init="selectedDevice='tablet'")
        //-
        //- DESKTOP
        //-
        .device-container(ng-class="selectedDeviceNewTry")
          svg(
            ng-show="selectedDevice == 'desktop'",
            ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
            ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
            x="0", y="0",
            viewbox='0 0 525.9 354')
            svg(
              x="50", y="17", width="428", height="320", viewbox="0 0 136 102", preserveAspectRatio="xMinYMin slice")
              rect(fill="#efefef", xlink:href="", x="0", y="0", width="135", height="102")
              image(xlink:href='img/vip-logo.png', x="60", y="2", width="15", height="15")
              image(xlink:href='', trustedresourceurl='{{logoUrl}}')
              text(x="67" y="25" text-anchor="middle" font-size="10px") {{ title }}
              text(x="67" y="35" text-anchor="middle" font-size="7px") {{ subtitle }}
              rect(fill="#bbb", x="27", y="40", width="80", height="30")
              rect(fill="#fff", x="37", y="50", width="60", height="5")
        //-
        //- TABLET
        //-
        .device-container(ng-class="selectedDeviceNewTry", ng-init="temp = 'img/new-york.svg'")
          svg(
            ng-show="selectedDevice == 'tablet'",
            ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
            ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
            x='0px', y='0px',
            viewbox='0 0 525.9 354')
            path(d='M525.9,328.1V25.9C525.9,11.6,514.4,0,500,0H25.9C11.6,0,0,11.6,0,25.9v302.1C0,342.4,11.6,354,25.9,354H500\
              C514.3,354.1,525.9,342.4,525.9,328.1z M501.1,177c0,1.9-1.5,3.2-3.2,3.2c-1.7,0-3.2-1.5-3.2-3.2s1.5-3.2,3.2-3.2\
              C499.6,173.8,501.1,175.2,501.1,177z M12.2,177c0-7.2,5.9-13.2,13.2-13.2s13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2\
              S12.2,184.2,12.2,177z M52.2,336.4c-0.5,0-0.9-0.4-0.9-0.9V18.6c0-0.5,0.4-0.9,0.9-0.9h421.9c0.5,0,0.9,0.4,0.9,0.9v316.9\
              c0,0.5-0.4,0.9-0.9,0.9H52.2z')
            svg(
              x="50", y="17", width="428", height="320", viewbox="0 0 136 102", preserveAspectRatio="xMinYMin slice")
              rect(fill="#efefef", xlink:href="", x="0", y="0", width="135", height="102")
              image(ng-show="selectedState == void 0" xlink:href='img/vip-logo.png' x="60" y="1" width="15" height="15")
              image(ng-show="selectedState == 'New York'" xlink:href='img/new-york.svg' x="60" y="1" width="15" height="15")
              text(x="67" y="25" text-anchor="middle" font-size="10px") {{ title }}
              text(x="67" y="35" text-anchor="middle" font-size="7px") {{ subtitle }}
              rect(fill="#bbb", x="27", y="40", width="80", height="30")
              rect(fill="#fff", x="37", y="50", width="60", height="5")
        //-
        //- PHONE
        //-
        .device-container(ng-class="selectedDeviceNewTry")
          svg(
            ng-show="selectedDevice == 'phone'",
            ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
            ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
            x='0px', y='0px',
            viewbox='0 0 347.8 713.9')
            g
              circle(cx='174.6', cy='665.3', r='23.9')
              path(d='M348.8,151.4h-1.1V52.8C347.8,23.7,324.1,0,295,0H54.9C25.8,0,2.1,23.7,2.1,52.8v37.3H1.1\
              c-0.6,0-1.1,0.5-1.1,1.1v26.8c0,0.6,0.5,1.1,1.1,1.1h1.1v32.4H1.1c-0.6,0-1.1,0.5-1.1,1.1v50.7c0,0.6,0.5,1.1,1.1,1.1h1.1v12H1.1\
              c-0.6,0-1.1,0.5-1.1,1.1v50.7c0,0.6,0.5,1.1,1.1,1.1h1.1v392.1c0,29.1,23.7,52.8,52.8,52.8H295c29.1,0,52.8-23.7,52.8-52.8V204.2\
              h1.1c0.6,0,1.1-0.5,1.1-1.1v-50.7C349.9,151.9,349.4,151.4,348.8,151.4z M175.3,19c2,0,3.5,1.5,3.5,3.5s-1.5,3.5-3.5,3.5\
              c-2,0-3.5-1.5-3.5-3.5S173.3,19,175.3,19z M150,42.2h50.7c1.5,0,2.8,1.3,2.8,2.8s-1.3,2.8-2.8,2.8H150c-1.5,0-2.8-1.3-2.8-2.8\
              S148.4,42.2,150,42.2z M119.7,39.4c3.1,0,5.6,2.5,5.6,5.6s-2.5,5.6-5.6,5.6s-5.6-2.5-5.6-5.6S116.6,39.4,119.7,39.4z M174.6,692\
              c-14.8,0-26.8-12-26.8-26.8c0-14.8,12-26.8,26.8-26.8s26.8,12,26.8,26.8C201.3,680.1,189.4,692,174.6,692z M326.7,625.9H23.2V86.6\
              h303.4V625.9z')
            svg(
              x="24", y="87")
              rect(fill="#efefef", x="0", y="0", width="303", height="539")
              rect(fill="#bbb", x="10" y="180" width="285" height="150")
              image(xlink:href='img/vip-logo.png', x="120", y="10", width="60", height="60")
              text(x="150" y="100" text-anchor="middle" font-size="25px") {{ title }}
              text(x="150" y="140" text-anchor="middle" font-size="18px") {{ subtitle }}

      //-
      //- DEVICE PREVIEW - 2
      //-
      //-
      .row
        //-
        //- DESKTOP
        //-
        .device-container(ng-class="selectedDeviceNewTry")
          svg(
            ng-show="selectedDevice == 'desktop'",
            ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
            ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
            x="0", y="0",
            viewbox='0 0 525.9 354')
            svg(
              x="50" y="17" width="428" height="320" viewbox="0 0 136 102" preserveAspectRatio="xMinYMin slice")
              rect(fill="white" xlink:href="" x="0" y="0" width="135" height="102")

              //- sidebar image
              image(xlink:href='img/vip-logo.png', x="13", y="5", width="15", height="15")

              //- sidebar address
              rect(fill="{{ selectedTileBarColor }}" x="0" y="20" width="45" height="8")
              text(fill="#fff" x="1" y="25" font-size="3.7px") Registered Voter Address
              text(fill="#000" x="1" y="28" font-size="3.7px")
                tspan(x="3" dy="1.4em") 36 E. 20th St.
                tspan(x="3" dy="1.4em") New York, NY 10003

              //- sidebar election
              rect(fill="{{ selectedTileBarColor }}" x="0" y="40" width="45" height="8")
              text(fill="#fff" x="1" y="45" font-size="3.7px") Elections
              text(fill="#000" x="1" y="48" font-size="3.7px")
                tspan(x="1" dy="1.4em" font-size="4px") General Election 2014
                tspan(x="1" dy="1.4em" font-size="4px") New York State
                tspan(x="1" dy="1.4em" font-size="2.7px") June 17th, 2015

              //- sidebar tabs
              rect(fill="{{ selectedTileBarColor }}" x="0" y="65" width="45" height="8")
              text(fill="#fff" x="1" y="70" font-size="3.3px") Polling Location
              rect(fill="{{ selectedTileBarColor }}" x="0" y="73" width="45" height="8")
              text(fill="#fff" x="1" y="78" font-size="3.3px") Voter Resources
              rect(fill="{{ selectedTileBarColor }}" x="0" y="81" width="45" height="8")
              text(fill="#fff" x="1" y="86" font-size="3.3px") Ballot Information

              rect(fill="{{ selectedSecondaryTileBarColor }}" x="0" y="89" width="45" height="45")

              image(xlink:href="img/map.jpg" x="40" y="0" height="102px" width="102px")

              //- page footer
              rect(fill="#333" x="0" y="97" width="140" height="6")


              //- alert text
              rect(ng-show="alertTextEnabled" fill="#f00" x="0" y="0" width="145" height="10")
              text(ng-show="alertTextEnabled" x="2" y="7" font-size="5px" fill="#fff") {{ alertText }}

              image(xlink:href='' trustedresourceurl='{{logoUrl}}')
        //-
        //- TABLET
        //-
        .device-container(ng-class="selectedDeviceNewTry")
          svg(
            ng-show="selectedDevice == 'tablet'",
            ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
            ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
            x='0px', y='0px',
            viewbox='0 0 525.9 354')
            path(d='M525.9,328.1V25.9C525.9,11.6,514.4,0,500,0H25.9C11.6,0,0,11.6,0,25.9v302.1C0,342.4,11.6,354,25.9,354H500\
              C514.3,354.1,525.9,342.4,525.9,328.1z M501.1,177c0,1.9-1.5,3.2-3.2,3.2c-1.7,0-3.2-1.5-3.2-3.2s1.5-3.2,3.2-3.2\
              C499.6,173.8,501.1,175.2,501.1,177z M12.2,177c0-7.2,5.9-13.2,13.2-13.2s13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2\
              S12.2,184.2,12.2,177z M52.2,336.4c-0.5,0-0.9-0.4-0.9-0.9V18.6c0-0.5,0.4-0.9,0.9-0.9h421.9c0.5,0,0.9,0.4,0.9,0.9v316.9\
              c0,0.5-0.4,0.9-0.9,0.9H52.2z')
            svg(
              x="50" y="17" width="428" height="320" viewbox="0 0 136 102" preserveAspectRatio="xMinYMin slice")
              rect(fill="white" xlink:href="" x="0" y="0" width="135" height="102")

              //- sidebar image
              image(xlink:href='img/vip-logo.png', x="13", y="5", width="15", height="15")

              //- sidebar address
              rect(fill="{{ selectedTileBarColor }}" x="0" y="20" width="45" height="8")
              text(fill="#fff" x="1" y="25" font-size="3.7px") Registered Voter Address
              text(fill="#000" x="1" y="28" font-size="3.7px")
                tspan(x="3" dy="1.4em") 36 E. 20th St.
                tspan(x="3" dy="1.4em") New York, NY 10003

              //- sidebar election
              rect(fill="{{ selectedTileBarColor }}" x="0" y="40" width="45" height="8")
              text(fill="#fff" x="1" y="45" font-size="3.7px") Elections
              text(fill="#000" x="1" y="48" font-size="3.7px")
                tspan(x="1" dy="1.4em" font-size="4px") General Election 2014
                tspan(x="1" dy="1.4em" font-size="4px") New York State
                tspan(x="1" dy="1.4em" font-size="2.7px") June 17th, 2015

              //- sidebar tabs
              rect(fill="{{ selectedTileBarColor }}" x="0" y="65" width="45" height="8")
              text(fill="#fff" x="1" y="70" font-size="3.3px") Polling Location
              rect(fill="{{ selectedTileBarColor }}" x="0" y="73" width="45" height="8")
              text(fill="#fff" x="1" y="78" font-size="3.3px") Voter Resources
              rect(fill="{{ selectedTileBarColor }}" x="0" y="81" width="45" height="8")
              text(fill="#fff" x="1" y="86" font-size="3.3px") Ballot Information

              rect(fill="{{ selectedSecondaryTileBarColor }}" x="0" y="89" width="45" height="45")

              image(xlink:href="img/map.jpg" x="40" y="0" height="102px" width="102px")

              //- page footer
              rect(fill="#333" x="0" y="97" width="140" height="6")


              //- alert text
              rect(ng-show="alertTextEnabled" fill="#f00" x="0" y="0" width="145" height="10")
              text(ng-show="alertTextEnabled" x="2" y="7" font-size="5px" fill="#fff") {{ alertText }}

              image(xlink:href='' trustedresourceurl='{{logoUrl}}')
        //-
        //- PHONE
        //-
        .device-container(ng-class="selectedDeviceNewTry")
          svg(
            ng-show="selectedDevice == 'phone'",
            ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
            ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
            x='0px', y='0px',
            viewbox='0 0 347.8 713.9')
            g
              circle(cx='174.6', cy='665.3', r='23.9')
              path(d='M348.8,151.4h-1.1V52.8C347.8,23.7,324.1,0,295,0H54.9C25.8,0,2.1,23.7,2.1,52.8v37.3H1.1\
              c-0.6,0-1.1,0.5-1.1,1.1v26.8c0,0.6,0.5,1.1,1.1,1.1h1.1v32.4H1.1c-0.6,0-1.1,0.5-1.1,1.1v50.7c0,0.6,0.5,1.1,1.1,1.1h1.1v12H1.1\
              c-0.6,0-1.1,0.5-1.1,1.1v50.7c0,0.6,0.5,1.1,1.1,1.1h1.1v392.1c0,29.1,23.7,52.8,52.8,52.8H295c29.1,0,52.8-23.7,52.8-52.8V204.2\
              h1.1c0.6,0,1.1-0.5,1.1-1.1v-50.7C349.9,151.9,349.4,151.4,348.8,151.4z M175.3,19c2,0,3.5,1.5,3.5,3.5s-1.5,3.5-3.5,3.5\
              c-2,0-3.5-1.5-3.5-3.5S173.3,19,175.3,19z M150,42.2h50.7c1.5,0,2.8,1.3,2.8,2.8s-1.3,2.8-2.8,2.8H150c-1.5,0-2.8-1.3-2.8-2.8\
              S148.4,42.2,150,42.2z M119.7,39.4c3.1,0,5.6,2.5,5.6,5.6s-2.5,5.6-5.6,5.6s-5.6-2.5-5.6-5.6S116.6,39.4,119.7,39.4z M174.6,692\
              c-14.8,0-26.8-12-26.8-26.8c0-14.8,12-26.8,26.8-26.8s26.8,12,26.8,26.8C201.3,680.1,189.4,692,174.6,692z M326.7,625.9H23.2V86.6\
              h303.4V625.9z')
            svg(
              x="24", y="87")
              rect(fill="{{ selectedTileBarColor}}", x="0", y="0", width="303", height="539")
              text(x="67" y="20" text-anchor="middle" font-size="15px") {{ title }}




          //- svg(
          //-   ng-show="selectedDevice == 'tablet'",
          //-   class="device-frame tablet", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
          //-   x='0px', y='0px',
          //-   viewbox='-114 113 382 568', style='enable-background:new -114 113 382 568;', xml:space='preserve')
          //-   path(
          //-     fill="{{selectedDevice == 'tablet' ? '#000' : 'darkgrey'}}",
          //-     d='M239.9,113.4H-85.9c-15.5,0-28,12.5-28,28v511.2c0,15.5,12.5,28,28,28h325.8c15.5,0,28-12.5,28-28V141.4\
          //-     C267.9,125.9,255.4,113.4,239.9,113.4z M77,140.1c2,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5s-3.5-1.6-3.5-3.5S75,140.1,77,140.1z\
          //-     M77,667.4c-7.8,0-14.2-6.3-14.2-14.2s6.3-14.2,14.2-14.2s14.2,6.3,14.2,14.2S84.8,667.4,77,667.4z M248.9,624.2c0,0.6-0.4,1-1,1\
          //-     H-93.9c-0.6,0-1-0.4-1-1V169.2c0-0.6,0.4-1,1-1h341.8c0.6,0,1,0.4,1,1V624.2z' transform="rotate(90, 80, 400)")
          //-   rect(fill="#fff", x="0", y="0", width="100", height="400")
          //- svg(
          //-   ng-show="selectedDevice == 'phone'",
          //-   class="device-frame phone", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
          //-   x='0px', y='0px', viewbox='-785.6 2116.6 45.1 88.7', style='enable-background:new -785.6 2116.6 45.1 88.7;', xml:space='preserve')
          //-     path(
          //-       fill="{{selectedDevice == 'phone' ? '#000' : 'darkgrey'}}",
          //-       d='M-750.5,2116.6h-24.9c-5.6,0-10.1,4.5-10.1,10.1v68.5c0,5.6,4.5,10.1,10.1,10.1h24.9c5.6,0,10.1-4.5,10.1-10.1v-68.5\
          //-       C-740.4,2121.2-745,2116.6-750.5,2116.6z M-749.5,2120.5c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2\
          //-       C-750.7,2121-750.2,2120.5-749.5,2120.5z M-753.6,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7s-0.7-0.3-0.7-0.7\
          //-       S-754,2121-753.6,2121z M-755.7,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7S-756.1,2121-755.7,2121z\
          //-       M-767.2,2119.9h8.6c0.2,0,0.4,0.2,0.4,0.4s-0.2,0.4-0.4,0.4h-8.6c-0.2,0-0.4-0.2-0.4-0.4S-767.4,2119.9-767.2,2119.9z\
          //-       M-759.1,2202.1h-7.3c-0.7,0-1.3-0.6-1.3-1.3c0-0.1,0-0.2,0-0.2c0-0.1,0-0.1,0-0.2c0-0.5,0.4-0.9,0.9-0.9h0.4h7.3h0.4\
          //-       c0.5,0,0.9,0.4,0.9,0.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2C-757.8,2201.5-758.4,2202.1-759.1,2202.1z M-743.2,2194.3h-39.5V2125\
          //-       h39.5V2194.3z')
          //- img(src="img/tablet-frame.png")
          //- svg(
          //-   class="active", ng-class='selectedDevice',
          //-   ng-width='{{deviceDimensions[selectedDevice][0]}}', ng-height='{{deviceDimensions[selectedDevice][1]}}')
          //-   rect(
          //-     fill="#fff",
          //-     x="0", y="0", ng-width='{{deviceDimensions[selectedDevice][0]}}', ng-height='{{deviceDimensions[selectedDevice][1]}}')

        //- .device-container(ng-class="selectedDevice")
        //-   svg(
        //-     ng-show="selectedDevice == 'tablet'",
        //-     class="device-frame tablet", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
        //-     x='0px', y='0px',
        //-     viewbox='-114 113 382 568', style='enable-background:new -114 113 382 568;', xml:space='preserve')
        //-     path(
        //-       fill="{{selectedDevice == 'tablet' ? '#000' : 'darkgrey'}}",
        //-       d='M239.9,113.4H-85.9c-15.5,0-28,12.5-28,28v511.2c0,15.5,12.5,28,28,28h325.8c15.5,0,28-12.5,28-28V141.4\
        //-       C267.9,125.9,255.4,113.4,239.9,113.4z M77,140.1c2,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5s-3.5-1.6-3.5-3.5S75,140.1,77,140.1z\
        //-       M77,667.4c-7.8,0-14.2-6.3-14.2-14.2s6.3-14.2,14.2-14.2s14.2,6.3,14.2,14.2S84.8,667.4,77,667.4z M248.9,624.2c0,0.6-0.4,1-1,1\
        //-       H-93.9c-0.6,0-1-0.4-1-1V169.2c0-0.6,0.4-1,1-1h341.8c0.6,0,1,0.4,1,1V624.2z' transform="rotate(90, 80, 400)")
        //-   svg(
        //-     ng-show="selectedDevice == 'phone'",
        //-     class="device-frame phone", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
        //-     x='0px', y='0px', viewbox='-785.6 2116.6 45.1 88.7', style='enable-background:new -785.6 2116.6 45.1 88.7;', xml:space='preserve')
        //-       path(
        //-         fill="{{selectedDevice == 'phone' ? '#000' : 'darkgrey'}}",
        //-         d='M-750.5,2116.6h-24.9c-5.6,0-10.1,4.5-10.1,10.1v68.5c0,5.6,4.5,10.1,10.1,10.1h24.9c5.6,0,10.1-4.5,10.1-10.1v-68.5\
        //-         C-740.4,2121.2-745,2116.6-750.5,2116.6z M-749.5,2120.5c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2\
        //-         C-750.7,2121-750.2,2120.5-749.5,2120.5z M-753.6,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7s-0.7-0.3-0.7-0.7\
        //-         S-754,2121-753.6,2121z M-755.7,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7S-756.1,2121-755.7,2121z\
        //-         M-767.2,2119.9h8.6c0.2,0,0.4,0.2,0.4,0.4s-0.2,0.4-0.4,0.4h-8.6c-0.2,0-0.4-0.2-0.4-0.4S-767.4,2119.9-767.2,2119.9z\
        //-         M-759.1,2202.1h-7.3c-0.7,0-1.3-0.6-1.3-1.3c0-0.1,0-0.2,0-0.2c0-0.1,0-0.1,0-0.2c0-0.5,0.4-0.9,0.9-0.9h0.4h7.3h0.4\
        //-         c0.5,0,0.9,0.4,0.9,0.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2C-757.8,2201.5-758.4,2202.1-759.1,2202.1z M-743.2,2194.3h-39.5V2125\
        //-         h39.5V2194.3z')
        //-   svg(
        //-     class="active", ng-class='selectedDevice', ng-dimensions='{{deviceDimensions[selectedDevice]}}',
        //-     ng-width='{{deviceDimensions[selectedDevice][0]}}', ng-height='{{deviceDimensions[selectedDevice][1]}}')

        //- .device-container(ng-class="selectedDevice")
        //-   svg(
        //-     ng-show="selectedDevice == 'tablet'",
        //-     class="device-frame", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
        //-     x='0px', y='0px',
        //-     viewbox='-114 113 382 568', style='enable-background:new -114 113 382 568;', xml:space='preserve')
        //-     path(
        //-       fill="{{selectedDevice == 'tablet' ? '#000' : 'darkgrey'}}",
        //-       d='M239.9,113.4H-85.9c-15.5,0-28,12.5-28,28v511.2c0,15.5,12.5,28,28,28h325.8c15.5,0,28-12.5,28-28V141.4\
        //-       C267.9,125.9,255.4,113.4,239.9,113.4z M77,140.1c2,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5s-3.5-1.6-3.5-3.5S75,140.1,77,140.1z\
        //-       M77,667.4c-7.8,0-14.2-6.3-14.2-14.2s6.3-14.2,14.2-14.2s14.2,6.3,14.2,14.2S84.8,667.4,77,667.4z M248.9,624.2c0,0.6-0.4,1-1,1\
        //-       H-93.9c-0.6,0-1-0.4-1-1V169.2c0-0.6,0.4-1,1-1h341.8c0.6,0,1,0.4,1,1V624.2z' transform="rotate(90, 80, 400)")
        //-   svg(
        //-     class="active", ng-class='selectedDevice',
        //-     width='{{deviceDimensions[selectedDevice][0]}}', height='{{deviceDimensions[selectedDevice][1]}}')

        //- svg(class="active", ng-class='selectedDevice', width='{{deviceDimensions[selectedDevice][0]}}', height='{{deviceDimensions[selectedDevice][1]}}')



      .bottom
        ul.options
          li.option.selected Save
          li.option.selected Generate Code

    script(src='js/app.js')