<div class="address-info box">
  <img id="user-image" src="{{logo}}"></img>
  <h1 class="title">{{title}}</h1>
  <h2 class="subtitle">{{subtitle}}</h2>
  <input type="text" id="address-input" placeholder="{{assets.text.placeholderText.enterAddress}}">
  <div class="magnifying-glass" id="submit-address-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
      <path fill="none" stroke="#fff" stroke-width="36" stroke-linecap="round"
    d="m280,278a153,153 0 1,0-2,2l170,170m-91-117 110,110-26,26-110-110"/>
    </svg>
  </div>
  <div id="app-info"><span>{{assets.text.summary}}<span></div>
</div>
<div class="footer">
  <span>{{ assets.text.footer.text }}</span>
  <i id="plus-icon"><img src="http://tool.votinginfoproject.org/images/plus.png"></i>
</div>

{{> modals }}

<div id="fade"></div>