<div class="box" id="alert">
  <span id="text"></span>
  <span id="alert-close"><img src="{{root}}/images/plus.png"></span>
</div>

<div class="info box left" id="registered-address">
  {{assets.text.headers.registeredVoterAddress}}
</div>

<div class="box left">
  {{> address data.normalizedInput }}
  <textarea rows="1" type="text" class="change-address" placeholder="{{assets.text.placeholderText.changeAddress}}" />
  <div class="magnifying-glass" id="submit-address-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
      <path fill="none" stroke="#fff" stroke-width="36" stroke-linecap="round"
    d="m280,278a153,153 0 1,0-2,2l170,170m-91-117 110,110-26,26-110-110"/>
    </svg> 
  </div>
  <span id="vote-address-edit">{{assets.text.headers.edit}}</span>
</div>

<div class="info box left" id="more-elections">
  {{assets.text.headers.elections}}
  <span>
    <img src="{{root}}/images/plus.png" class="toggle-image plus">
    <img src="{{root}}/images/minus.png" class="toggle-image minus hidden">
  </span>
</div>

<div class="info box left" id="election-list">
  <div class="election-selection">
    <img src="{{root}}/images/radio-checked.png" class="radio checked">
    <img src="{{root}}/images/radio-unchecked.png" class="radio unchecked hidden">
    <span class="hidden">{{ data.election.id }}</span>
    {{ data.election.name }}
  </div>
  {{#each data.otherElections }}
  <div class="election-selection">
    <img src="{{root}}/images/radio-checked.png" class="radio checked hidden">
    <img src="{{root}}/images/radio-unchecked.png" class="radio unchecked">
    <span class="hidden">{{ id }}</span>
    {{ name }}
  </div>
  {{/each}}
</div>

<div class="box left" id="chosen-election">
  {{>election data.election}}
  <div id="calendar-icon" title="{{ data.election.name }}" class="addthisevent" style="background-image: url('{{root}}/images/calendar.png'); float: right; margin-top: -30px; margin-right: 2px; background-color: transparent; border: 0; height: 20px; width: 20px; background-size: contain; padding: 0; background-position: center;">
  </div> 
</div>

<div class="info box left" id="polling-location">
  {{assets.text.headers.pollingLocation}}
  <span id="map-toggle">
    <img src="{{root}}/images/plus.png" class="toggle-image plus">
    <img src="{{root}}/images/minus.png" class="toggle-image minus hidden">
  </span>
</div>

<div id="map-view-toggle" class="box right">
Click to Toggle
</div>

<div id="location-legend" class="box right">
  <div id="location-legend-close">
    <img src="./images/grey-plus.png">
  </div>
  <div id="red-block" class="red"></div>
  <span id="red-label" class="red">Early Voting Site</span>
  <br class="red">
  <div id="blue-block" class="blue"></div>
  <span id="blue-label" class="blue">Polling Location</span>
  <br class="blue">
  <div id="green-block" class="green"></div>
  <span id="green-label" class="green">Early Voting Site & Polling Location</span><br class="green">
  <div id="grey-block" class="grey"></div>
  <span id="grey-label" class="grey">Dropoff Location</span>
</div>

<div id="location" class="box right">
  <div id="polling-location-info-close">
    <img src="./images/grey-plus.png">
  </div>
  {{> address data.pollingLocations.0.address }}
  <span>
    <a href="#" target="_blank">
      <img src="{{root}}/images/directions.png">
    </a>
  </span>
  {{#if data.pollingLocations.0.isEarlyVoteSite}}
  <div class="early-vote-site">
    Early Vote Site
  </div>
  {{/if}}
</div>
<div id="map-canvas" class="right"></div>

<div id="map-list-view" class="box right">
  {{#each data.pollingLocations}}
    <div class="address-list-view">
     {{> address this.address }}
    </div>
  {{/each}}
</div>

<div class="info box left" id="resources-toggle">
  {{assets.text.headers.voterResources}}
  <span>
    <img src="{{root}}/images/plus.png" class="toggle-image plus hidden">
    <img src="{{root}}/images/minus.png" class="toggle-image minus">
  </span>
</div>

<div class="box information-items right" id="about-resources">
  <span>{{assets.text.resources.summary}}</span>
</div>

<div id="more-resources" class="right">
  <div class="subsection box more-resources-header">
    <span>
    {{assets.text.resources.electionAdministration.title}}
    </span>
  </div>
  <div class="correspondence-address box">
    {{#if data.state.0.local_jurisdiction}}
    <h1>{{assets.text.resources.electionAdministration.local_jurisdiction}}</h1>
    {{/if}}
    <span id="local-jurisdiction-name">
      {{#if data.state.0.local_jurisdiction.name}}
      <b>{{ data.state.0.local_jurisdiction.name }}</b><br>
      {{/if}}
    </span>
    <span id="local-jurisdiction-eab-name">
      {{#if data.state.0.local_jurisdiction.electionAdministrationBody.name }}
      <b>{{ data.state.0.local_jurisdiction.electionAdministrationBody.name }}</b><br>
      {{/if}}
    </span>
    {{ data.state.0.local_jurisdiction.electionAdministrationBody.hoursOfOperation }}
    {{!-- {{#if data.state.0.local_jurisdiction.electionAdministrationBody.correspondenceAddress }}
      <div id="local-jurisdiction-correspondence-address" class="election-administration-address">
      <span>{{assets.text.resources.electionAdministration.correspondenceAddress}}:</span>
      {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.correspondenceAddress }}
      </div>
      {{/if}} --}}
    {{#if data.state.0.local_jurisdiction.electionAdministrationBody.physicalAddress }}
    <div id="local-jurisdiction-physical-address" class="election-administration-address">
      <span>{{assets.text.resources.electionAdministration.physicalAddress}}</span>
      {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.physicalAddress }}
    </div>
    {{/if}}
    {{#each data.state.0.local_jurisdiction.electionAdministrationBody.electionOfficials }}
    {{> election-official}}
    {{/each}}
    <br>
    {{#if data.state.0.electionAdministrationBody}}
    <h1>{{assets.text.resources.electionAdministration.stateElectionsOffice}}</h1>
    {{/if}}
    <b>{{ data.state.0.electionAdministrationBody.name }}</b>
    {{ data.state.0.electionAdministrationBody.hoursOfOperation }}
    {{!-- {{#if data.state.0.electionAdministrationBody.correspondenceAddress }}
      <div id="state-election-correspondence-address" class="election-administration-address">
      <span>{{assets.text.resources.electionAdministration.correspondenceAddress}}</span>
      {{> normalized-address data.state.0.electionAdministrationBody.correspondenceAddress }}
      </div>
      {{/if}} --}}
    {{#if data.state.0.electionAdministrationBody.physicalAddress }}
    <div id="state-election-physical-address" class="election-administration-address">
      <span>{{assets.text.resources.electionAdministration.physicalAddress}}</span>
      {{> normalized-address data.state.0.electionAdministrationBody.physicalAddress }}
    </div>
    {{/if}}
    {{#each data.state.0.electionAdministrationBody.electionOfficials }}
    {{> election-official}}
    {{/each}}
  </div>

  <div class="subsection box more-resources-header">
    <span>
    {{assets.text.resources.moreResources.title}}
    </span>
  </div>
  <div class="box information-links">
  {{> election-administration-body }}
  </div>
  <div class="subsection box more-resources-header">
    <span>
    {{assets.text.resources.voterIdRequirements.title}}
    </span>
  </div>
  <div class="box information-items">
    <div class="voter-id-info">
    {{#each data.voterId }}
      <div class="question">{{ question }}</div>
      <div class="answer">{{ answer }}</div>
    {{/each}}
      <div class="answer">
        {{#if data.VoterIdLink }}
        <a href="{{ data.VoterIdLink }}" target="_blank">{{assets.text.resources.voterIdRequirements.linkTitle }}</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="info box left" id="ballot-information">
  {{assets.text.headers.ballotInformation}}
  <span>
    <img src="{{root}}/images/plus.png" class="toggle-image plus hidden">
    <img src="{{root}}/images/minus.png" class="toggle-image minus">
  </span>
</div>

<div class="contests right" id="all-contests">
  {{#each data.contests}}
  {{> contest}}
  {{/each}}
</div>

<div class="footer">
  <span>
  {{assets.text.footer.text}}
  </span>
  <a href="#" target="_blank" id="error-feedback-link">Report an error</a>

  <form id="error-feedback-form" action="" method="post" class="hidden">
    <input id="error-feedback-link" type="submit">
  </form>
  <a href="#" target="_blank"><i id="info-icon">i</i></a>
</div>

{{> modals }}
<div id="fade"></div>
<!--[if gte IE 8]>
<script type="text/javascript">
document.getElementById('alert').className += 'alert_ie';
</script>
<![endif]-->