.device-container(ng-class="selectedDeviceNewTry")
  svg(
    ng-show="selectedDevice == 'desktop'",
    ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
    ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
    x="0", y="0",
    viewbox='0 0 525.9 354'
    class="device-preview desktop")
    svg(
      x="50", y="17", width="428", height="320", viewbox="0 0 136 102", preserveAspectRatio="xMinYMin slice")
      rect(fill="#efefef", xlink:href="", x="0", y="0", width="135", height="102")
      image(ng-show="selectedState == 'Default'" xlink:href='img/vip-logo.png', x="60", y="2", width="15", height="15")
      image(xlink:href='', trustedresourceurl='{{logoUrl}}')
      text(x="67" y="25" text-anchor="middle" font-size="10px") {{ title }}
      text(x="67" y="35" text-anchor="middle" font-size="7px") {{ subtitle }}
      rect(fill="#bbb", x="27", y="40", width="80", height="30")
      rect(fill="#fff", x="37", y="50", width="60", height="5")