.device-container(ng-class="selectedDeviceNewTry")
  svg(
    ng-show="selectedDevice == 'desktop'",
    ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
    ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
    x="0", y="0",
    viewbox='0 0 525.9 354'
    class="device-preview desktop")
      include ./visualizations/landscape-search.jade