ul.devices(ng-init="dimension=60; $parent.selectedTileBarColor='#229acd'; $parent.selectedSecondaryTileBarColor = interiorSecondaryTileBarColors[2]")
  li
    svg(
      ng-click="selectedDevice = 'desktop'",
      class="device-icon", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
      x='0px', y='0px', ng-attr-width="{{dimension}}", ng-attr-height="{{dimension}}", viewbox='-812.3 2116.8 98.6 88.4', style='enable-background:new -812.3 2116.8 98.6 88.4;', xml:space='preserve')
      path(
        fill="{{selectedDevice == 'desktop' ? '#000' : 'darkgrey'}}",
        d='M-717.1,2116.8h-91.8c-1.9,0-3.4,1.5-3.4,3.4v59.7c0,1.9,1.5,3.4,3.4,3.4h38.1l-5.7,20.8h-3.9v1.1h37v-1.1h-3.6l-5.7-20.8\
        h35.5c1.9,0,3.4-1.5,3.4-3.4v-59.7C-713.7,2118.3-715.2,2116.8-717.1,2116.8z M-806.6,2177.7v-55.2h87.2v55.2H-806.6z')
  li
    svg(
      ng-click="selectedDevice = 'tablet'",
      class="device-icon", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
      x='0px', y='0px', ng-attr-width="{{dimension}}", ng-attr-height="{{dimension}}", viewbox='-114 113 382 568', style='enable-background:new -114 113 382 568;', xml:space='preserve')
      path(
        fill="{{selectedDevice == 'tablet' ? '#000' : 'darkgrey'}}",
        d='M239.9,113.4H-85.9c-15.5,0-28,12.5-28,28v511.2c0,15.5,12.5,28,28,28h325.8c15.5,0,28-12.5,28-28V141.4\
        C267.9,125.9,255.4,113.4,239.9,113.4z M77,140.1c2,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5s-3.5-1.6-3.5-3.5S75,140.1,77,140.1z\
        M77,667.4c-7.8,0-14.2-6.3-14.2-14.2s6.3-14.2,14.2-14.2s14.2,6.3,14.2,14.2S84.8,667.4,77,667.4z M248.9,624.2c0,0.6-0.4,1-1,1\
        H-93.9c-0.6,0-1-0.4-1-1V169.2c0-0.6,0.4-1,1-1h341.8c0.6,0,1,0.4,1,1V624.2z' transform="rotate(90, 80, 400)")

  li
    svg(
      ng-click="selectedDevice = 'phone'",
      class="device-icon", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
      x='0px', y='0px', ng-attr-width='{{dimension}}', ng-attr-height='{{dimension}}', viewbox='-785.6 2116.6 45.1 88.7', style='enable-background:new -785.6 2116.6 45.1 88.7;', xml:space='preserve')
        path(
          fill="{{selectedDevice == 'phone' ? '#000' : 'darkgrey'}}",
          d='M-750.5,2116.6h-24.9c-5.6,0-10.1,4.5-10.1,10.1v68.5c0,5.6,4.5,10.1,10.1,10.1h24.9c5.6,0,10.1-4.5,10.1-10.1v-68.5\
          C-740.4,2121.2-745,2116.6-750.5,2116.6z M-749.5,2120.5c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2\
          C-750.7,2121-750.2,2120.5-749.5,2120.5z M-753.6,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7s-0.7-0.3-0.7-0.7\
          S-754,2121-753.6,2121z M-755.7,2121c0.4,0,0.7,0.3,0.7,0.7s-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7S-756.1,2121-755.7,2121z\
          M-767.2,2119.9h8.6c0.2,0,0.4,0.2,0.4,0.4s-0.2,0.4-0.4,0.4h-8.6c-0.2,0-0.4-0.2-0.4-0.4S-767.4,2119.9-767.2,2119.9z\
          M-759.1,2202.1h-7.3c-0.7,0-1.3-0.6-1.3-1.3c0-0.1,0-0.2,0-0.2c0-0.1,0-0.1,0-0.2c0-0.5,0.4-0.9,0.9-0.9h0.4h7.3h0.4\
          c0.5,0,0.9,0.4,0.9,0.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2C-757.8,2201.5-758.4,2202.1-759.1,2202.1z M-743.2,2194.3h-39.5V2125\
          h39.5V2194.3z')