.device-container.phone-prev(ng-class="selectedDeviceNewTry")
  svg(
    ng-show="selectedDevice == 'phone'",
    ng-attr-width="{{deviceDimensions[selectedDevice][0]}}",
    ng-attr-height="{{deviceDimensions[selectedDevice][1]}}",
    x='0px', y='0px',
    viewbox='0 0 347.8 713.9'
    class="device-preview phone")
    g
      circle(cx='174.6', cy='665.3', r='23.9')
      path(d='M348.8,151.4h-1.1V52.8C347.8,23.7,324.1,0,295,0H54.9C25.8,0,2.1,23.7,2.1,52.8v37.3H1.1\
      c-0.6,0-1.1,0.5-1.1,1.1v26.8c0,0.6,0.5,1.1,1.1,1.1h1.1v32.4H1.1c-0.6,0-1.1,0.5-1.1,1.1v50.7c0,0.6,0.5,1.1,1.1,1.1h1.1v12H1.1\
      c-0.6,0-1.1,0.5-1.1,1.1v50.7c0,0.6,0.5,1.1,1.1,1.1h1.1v392.1c0,29.1,23.7,52.8,52.8,52.8H295c29.1,0,52.8-23.7,52.8-52.8V204.2\
      h1.1c0.6,0,1.1-0.5,1.1-1.1v-50.7C349.9,151.9,349.4,151.4,348.8,151.4z M175.3,19c2,0,3.5,1.5,3.5,3.5s-1.5,3.5-3.5,3.5\
      c-2,0-3.5-1.5-3.5-3.5S173.3,19,175.3,19z M150,42.2h50.7c1.5,0,2.8,1.3,2.8,2.8s-1.3,2.8-2.8,2.8H150c-1.5,0-2.8-1.3-2.8-2.8\
      S148.4,42.2,150,42.2z M119.7,39.4c3.1,0,5.6,2.5,5.6,5.6s-2.5,5.6-5.6,5.6s-5.6-2.5-5.6-5.6S116.6,39.4,119.7,39.4z M174.6,692\
      c-14.8,0-26.8-12-26.8-26.8c0-14.8,12-26.8,26.8-26.8s26.8,12,26.8,26.8C201.3,680.1,189.4,692,174.6,692z M326.7,625.9H23.2V86.6\
      h303.4V625.9z')
    svg(
      x="24", y="87")
      rect(fill="#fff", x="0", y="0", width="303", height="539")

      rect(fill="{{ selectedTileBarColor}}", x="0", y="0", width="303", height="40")
      text(x="10" y="30" fill="#fff"  font-size="25px") Elections
      text(x="280" y="30" fill="#fff" font-size="25px") +

      text(x="10" y="80" fill="#333" font-size="29px") General Election 2014
      text(x="10" y="110" fill="#333" font-size="20px") Tuesday, November 4th, 2014

      rect(fill="{{ selectedTileBarColor}}", x="0", y="130", width="303", height="40")
      text(x="10" y="160" fill="#fff"  font-size="25px") Polling Locations
      text(x="280" y="160" fill="#fff" font-size="25px") +

      text(x="10" y="205" fill="#333" font-size="27px") Andrew Heiskell Library
      text(x="10" y="230" fill="#333" font-size="20px") 40 West 20th Street
      text(x="10" y="255" fill="#333" font-size="20px") New York, NY 10011

      image(xlink:href='img/map-phone.png' x="0" y="235" width="303" height="200")

      rect(fill="{{ selectedTileBarColor}}", x="0", y="405", width="303", height="40")
      text(x="10" y="430" fill="#fff"  font-size="25px") More Resources
      text(x="280" y="430" fill="#fff" font-size="25px") +

      text(x="10" y="445" fill="#333" font-size="16.5px" width="293px")
        tspan(x="10" dy="1.4em") Information on how to navigate the
        tspan(x="10" dy="1.4em") elections process, including deadlines,
        tspan(x="10" dy="1.4em") Voter ID information, and registration
        tspan(x="10" dy="1.4em") links.