<div class="contest">
	<div class="subsection box contest-toggle">
		<p>
		{{either referendumTitle office }}
		</p>
		<span class="subsection-plus"></span>
		<div class="contest-type">
			{{ partyName primaryParty }}
		</div>
	</div>
	<div class="candidate-list">
		{{#if referendumTitle }}
		{{#if referendumUrl }}
		<a href="{{ referendumUrl }}">
		{{/if}}
			<div class="referendum-subtitle box">
				<p><strong>{{{escapeHTML referendumSubtitle }}}</strong></p><br>
				<p>{{{escapeHTML referendumBrief }}}</p>
				<p>{{{escapeHTML referendumText }}}</p>
				<p>{{{escapeHTML referendumProStatement }}}</p>
				<p>{{{escapeHTML referendumConStatement }}}</p>
				<p>{{{escapeHTML referendumPassageThreshold }}}</p>
				<p>{{{escapeHTML referendumEffectOfAbstain }}}</p>
				<p>{{{escapeHTML referendum }}}</p>
				<br>
				<p><strong>Referendum Responses:</strong></p>
				<ul>
				{{#each referendumBallotResponses}}
					<li>{{{escapeHTML this}}}</li>
				{{/each}}
				</ul>
				{{#if referendumUrl}}
				<img src="{{ image 'arrow.png' }}" class="arrow">
				{{/if}}
			</div>
		{{#if referendumUrl}}
		</a>
		{{/if }}
		{{/if }}
		{{#each candidates}}
			<div class="candidate-item box">
				<div class="name">
				{{{ name }}}
				</div>
				<div class="party">
				{{ partyName party }}
				</div>
				<span class="email">
				{{#if email}}
					<a href="mailto:{{ email }}">
						<svg xmlns="https://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
					    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
						</svg>
					</a>
				{{/if}}
				</span>
				<span class="phone">
				{{#if phone}}
					<a href="tel:{{phone}}">
						<svg xmlns="https://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
					    <path d="M0 0h24v24H0z" fill="none"/>
					    <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
						</svg>
					</a>
				{{/if}}
				</span>
				<span class="link">
				{{#if candidateUrl}}
					<a href="{{ candidateUrl }}" target="_blank">
						<img src="{{ image 'arrow.png' }}" class="arrow">
					</a>
				{{/if}}
				</span>
			</div>
		{{/each}}
	</div>
</div>