<div class="election-official">
  <div class="name">
  {{ name }}
  </div>
  <div class="official-title">
  {{ title }}
  </div>
  <div class="office-phone-number">
  <a href="tel:{{ officePhoneNumber }}">{{ officePhoneNumber }}</a>
  </div>
  <div class="fax-number">
  <a href="tel:{{ faxNumber }}">{{ faxNumber }}</a>
  </div>
  <div class="email-address">
  <a href="mailto:{{ emailAddress }}">{{ emailAddress }}</a>
  </div>
</div>