<div class="modal" id="mail-only">
  <h2>{{ assets.text.mailInVoting.title }}</h2>
  <p>{{ assets.text.mailInVoting.text }}</p>
  <br>
  {{#each data.state.0.local_jurisdiction.electionAdministrationBody.electionOfficials}}
  {{> election-official this}}
  {{/each}}
  {{#if data.state.0.local_jurisdiction.electionAdministrationBody.name }}
    <br>
    {{ data.state.0.local_jurisdiction.electionAdministrationBody.name }}
    <br>
  {{/if}}
  {{#if data.state.0.local_jurisdiction.electionAdministrationBody.electionInfoUrl}}
    <a href="{{state.0.local_jurisdiction.electionAdministrationBody.electionInfoUrl}}" target="_blank">
      {{data.state.0.local_jurisdiction.electionAdministrationBody.electionInfoUrl}}
    </a><br>
  {{/if}}
  <br>
  <p class="inputs-container">
    <button id="use-registered-address">{{ assets.text.mailInVoting.registeredAddress }}</button>
    <button id="use-different-address">{{assets.text.inputs.differentAddress}}</button>
  </p>
</div>