<div class="polling-location-info">
  <div class="early-vote-site">
  {{locationTypes location }}
  </div>
  {{#if location.pollingHours}}
  <div class="address-line">
  {{{ location.pollingHours }}}
  </div>
  {{/if}}
  {{#if location.startDate}}
  <div class="address-line">
  {{{ location.startDate }}} -<br>
  {{{ location.endDate }}}
  </div>
  {{/if}}
  <div class="address-line" id="get-directions">
    <a href="https://maps.google.com?daddr={{ daddr }}&saddr={{ saddr }}" target="_blank">Get Directions</a>
  </div>
  {{#if location.voterServices}}
  <div class="address-line">
  Voter Services:
  {{{ location.voterServices }}}
  </div>
  {{/if}}
  {{#if location.notes}}
  <div class="address-line">
  Notes:
  {{{ location.notes }}}
  </div>
  {{/if}}
</div>