<div class="polling-location-info">
  <div class="early-vote-site">
  {{locationTypes location assets }}
  </div>
  <div class="address-line" id="get-directions">
    <a href="https://maps.google.com?daddr={{ daddr }}&saddr={{ saddr }}" target="_blank">Get Directions</a>
  </div>

  {{{ addressLine 'Voting Hours' location "pollingHours" }}}
  {{{ addressLine 'Dates' location "startDate" "endDate" }}}
  {{{ addressLine 'Early Voting Dates' location "earlyVoteSiteStartDate" "earlyVoteSiteEndDate" }}}
  {{{ addressLine 'Drop-off Dates' location "dropOffLocationStartDate" "dropOffLocationEndDate"}}}

  {{{ addressLine 'Voter Services' location 'voterServices' }}}
  {{{ addressLine 'Early Voting Services' location 'earlyVoteSiteVoterServices' }}}
  {{{ addressLine 'Drop-off Voting Services' location 'dropOffLocationVoterServices' }}}

  {{{ addressLine 'Notes' location 'notes' }}}
  {{{ addressLine 'Early Voting Notes' location 'earlyVoteSiteNotes' }}}
  {{{ addressLine 'Drop-off Notes' location 'dropOffLocationNotes' }}}

  {{#if location.dropOffLocationNotes}}
  <div class="address-line">
  {{{ location.dropOffLocationNotes }}}
  </div>
  {{/if}}
</div>